.reader__item{
  width: auto;
  height: 100%;
}

.reader__vertical{
  max-width: 784px;
  height: 100%;
}

.reader__img{
  max-width: 784px;
  object-fit: contain;
}

.reader__box{
  display: flex;
  flex-direction: column;
  gap: 30px;
}