/* POPULAR_SWIPER_ITEM */
.swiper__items {
  width: 100%;
  height: 100%;
  position: relative;
}

.item__bg {
  width: 100%;
  height: 100%;
}

.item__bg[style^="background"] {
  background-repeat: no-repeat !important;
  background-position: top !important;
  background-size: cover !important;
  filter: blur(30px);
  -webkit-filter: blur(30px);
}

.item__content {
  position: absolute;
  top: 50px;
  display: flex;
  width: 90%;
  gap: 20px;
  left: 40px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.item__img {
  width: 200px;
  height: 250px;
}

.detail {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  width: 100%;
  font-size: 30px;
  font-weight: 800;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag_item {
  font-size: 12px;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 2px 8px;
  text-transform: uppercase;
  border-radius: 2px;
}

.tag_item:hover{
    background-color: #000;
    color: #ff6f6f;
}

.description {
  height: 75px;
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: white;
  background-color: #000;
  width: max-content;
  border-radius: 5px;
  padding: 5px 10px;
}

.link:hover {
  color: #ff6f6f;
}
/* END POPULAR_SWIPER_ITEM */

/* CONTAINER_LATEST */
.container__latest {
  height: 620px;
  background-color: #212529;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.manga__item {
  background-color: #000;
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  gap: 20px;
}

.manga__cover {
  width: 80px;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

.manga__detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.manga__title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.manga__chapter {
  font-size: 12px;
  font-style: italic;
}

.manga__update {
  font-size: 12px;
  font-style: italic;
}

.manga__interact{
    display: flex;
    gap: 12px;
    font-size: 13px;
}

/* END CONTAINER_LATEST */

/* SWIPER ITEM */
.season__item_slider {
  width: 100%;
  height: 200px;
  background: white;
}

.season__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.link__nohover {
  color: white;
  text-decoration: none;
}

.link__nohover:hover {
  color: white;
}

/* END SWIPER ITEM */
