.header {
  background: #000;
  height: 60px;
  width: 100%;
  color: white;
  top: 0;
  z-index: 99999;
  position: sticky;
  border-bottom: 1px solid #000;
  transition: border-bottom 0.3s ease-out;
}

.pointer {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
  margin-left: 10px;
}

.link:hover {
  color: white;
}

.text__input {
  height: 35px;
  width: 500px;
  padding: 10px;
  background: #212529;
  border: 1px solid #212529;
  border-radius: 5px;
}

.text__input:focus {
  outline: none;
  color: #fff;
  border: 1px solid #fa6e6e;
}

.text__input::-webkit-input-placeholder {
  color: #fff;
  font-weight: 500;
}

.text__input:-moz-placeholder {
  color: #fff;
  font-weight: 500;
}

.text__input:-ms-input-placeholder {
  color: #fff;
  font-weight: 500;
}

.text__input::-moz-placeholder {
  color: #fff;
  font-weight: 500;
}

.right__items{
    display: flex;
    flex-direction: row ;
    align-items: center;
    gap: 20px;
}

.form__input {
  position: relative;
}

.input__items {
  position: absolute;
  top: 6px;
  right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.input__item {
  background: #ff4545;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

.invisible {
  visibility: hidden;
}

.scrolled{
    border-bottom: 1px solid #ff4545;
}
