.main__title {
  font-weight: 600;
}

.box__items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slider {
  width: 100%;
  height: 350px;
}

.active__item {
  opacity: 0.8 !important;
  background: #ff4545 !important;
}

.container__box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.box {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
  background-color: #000;
  width: max-content;
  /* border-radius: 25px; */
  padding: 5px 10px;
}

.link:hover {
  color: #ff6f6f;
}