.main__container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 40px;
}

.right__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.right__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.right__cover {
  position: absolute;
  width: 500px;
  height: 600px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  gap: 20px;
}

.right__cover_img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.right__cover_detail {
  width: 100%;
  padding: 20px 0;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  font-weight: 700;
}

.author {
  width: max-content;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  background: #212529;
  padding: 5px 10px;
  border-radius: 2px;
}

.author:hover {
  background: #ff4545;
  color: #fff;
}

.genres__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.genres__title {
  font-size: 16px;
  font-weight: 700;
}

.genres__tags {
  width: 300px;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
}

.genres__tags::-webkit-scrollbar{
  width: 5px;
}

.genres__tag {
  font-size: 12px;
  background: #212529;
  padding: 5px 10px;
  height: max-content;
  font-weight: 800;
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.genres__tag:hover {
  color: #fff;
  background-color: #ff4545;
}

.buy__now {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.support__author {
  color: #fff;
  text-decoration: none;
  max-width: max-content;
  padding: 5px 10px;
  background: #212529;
  font-weight: 700;
  border-radius: 2px;
}

.support__author:hover {
  color: #fff;
  background: #ff4545;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  width: 300px;
  height: 100px;
  text-align: left;
  overflow-y: scroll;
  display: inline-block;
}

.text::-webkit-scrollbar{
  width: 5px;
}

.link {
  color: #fff;
  text-decoration: none;
  display: flex;
  gap: 10px;
  align-items: center;
  width: max-content;
  padding: 5px 10px;
  background: #212529;
  border-radius: 3px;
}

.link:hover {
  color: #fff;
  background: #ff4545;
}

.link__container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
  text-transform: uppercase;
  /* justify-content: space-between; */
}

.right__side {
  margin: 0px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list__title {
  font-size: 30px;
  font-weight: 700;
}

.chapters__container {
  width: 100%;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chapter__items {
  width: 100%;
  height: 80px;
  font-size: 15px;
  background: #212529;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
}

.chapter__item {
  display: flex;
  flex-direction: column;
}

.chapter__items:hover {
  color: #fff;
}

.group__name {
  font-style: italic;
}

.chapter__no {
  font-weight: 700;
}

.comment {
  text-decoration: none;
  color: #fff;
}

.comment:hover {
  color: #ff4545;
}

.navigator {
  color: #fff;
}

.navigator:hover {
  color: #ff4545;
}

.paginate {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
}

.page__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.page__item {
  width: max-content;
  height: max-content;
  background: #212529;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
}

.active__page {
  color: #fff;
  background: #ff4545;
}

.page__item:hover {
  color: #fff;
  background: #ff4545;
}